.headline {
  h1 {
    font-size: 50px;
    line-height: 1.08;
    letter-spacing: 1.3px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    margin-bottom: 20px;
  }

  h2 {
    opacity: 0.5;
    font-size: 19px;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 390px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
  }
}
