.navbar(class=name)
  .logo
    a(href='/')
      include ./svg/logo.jade
  ul.navbar-menu
    li: a(href='/lifestyle') Lifestyle
    li: a(href='/mutual-help') Mutual Help
    li: a(href='/team') Team
    li: a(href='/about') About
    if session.user
      li: a(href='/logout') Sign out
    else
      li: a(href='/login') Sign in
