.menu
  .logo
    a(href='/'): img(src="images/logo.png")
  ul
    li: a(href='/lifestyle') Lifestyle
    li: a(href='/mutual-help') Mutual Help
    li: a(href='/team') Team
    li: a(href='/about') About
    li: a(href='https://medium.com/meetmangrove') Blog
    if session.user
      li: a(href='/logout') Sign out
    else
      li: a(href='/login') Sign in
.hellobar 
  b Women at Mangrove #1: 
  span Meet Svenia, touring the world of EdTech
  a(href="https://medium.com/meetmangrove/meet-svenia-touring-the-world-of-edtech-preferably-on-a-bike-bbb04fd06c6b").hellobar-button Read the story
  a.hellobar-clear X
