extends layout

block content
  .about
    h1 Everything about Mangrove
    h2 Here are some frequently asked questions that explain Mangrove and its vision.

    .block
      .sub-block
        h2 For whom is Mangrove?
        .p
          h3 Openness and curiosity
          p Mangrove wouldn’t exist if its first members weren’t interested in different lifestyle, and open to listen to new and uncommon ideas.
        .p
          h3 Sense of collectiveness
          p Our community values cooperation over competition, sharing over hiding, collective achievement over standing out individually.
        .p
          h3 Thoughtfulness
          p In-depth thinking and the capacity of seeing further than the evidences are important qualities for us.
        .p
          h3 Franchise, clarity and relational maturity
          p Members should nourish a virtuous circle of clear and constructive interactions with the group. They should use non violent communication and look for solutions instead of showing their anger when a problem appears.
        .p
          h3 Empathy and listening
          p Putting yourself in others' shoes is key to understand others' feelings and point of views. Good listeners often are the most helpful people.
        .p
          h3 Positive mindset and energy
          p Optimism, enthusiasm and positive energy are the source of Mangrove's momentum.
        .p
          h3 Ambition and humility
          p Mangrove members are all changemakers in their own way. The ambition of seeing one’s dreams come true shouldn’t come with an uncontrolled ego. We see humility as a key quality for personal growth and interesting interactions.
        .p
          h3 Significant experience in one field
          p In order to bring value to the community, every member should have good skills in a field (not necessarily technology!).

    .block
      .sub-block
        h2 FAQ
        .p 
          h3 What do you mean by personal growth?
          p Mangrove members want to improve their life situation and personal fulfillment. This is the main goal driving our collaboration. We achieve it through 3 main axis: daily interactions, mutual help, and expansion to new people who share our values. 
        .p
          h3 What are your values?
          p Benevolence, openness, and freedom. 
        .p
          h3 Who are your members?
          p Entrepreneurs and freelancers who choose to make time for personal growth. We chose a lifestyle of independence to pursue our own projects, explore who we are and keep growing. 
        .p
          h3 Who can join Mangrove?
          p Everyone who shares our values. 
        .p
          h3 Mangrove is an organic and agile structure.
          p Mangrove is an ecosystem both open to its environment and anchored with deep roots: we keep evolving but our values never change.
