extends layout

block content
  .about
    h1 Everything about Mangrove
    h2 Here are some frequently asked questions that explain Mangrove and its vision.

    .block
      .sub-block
        h2 FAQ
        .p 
          h3 What do you mean by personal growth?
          p Mangrove members want to improve their life situation and personal fulfillment. This is the main goal driving our collaboration. We achieve it through 3 main axis: daily interactions, mutual help, and expansion to new people who share our values. 
        .p
          h3 What are your values?
          p Benevolence, openness, and freedom. 
        .p
          h3 Who are your members?
          p Entrepreneurs and freelancers who choose to make time for personal growth. We chose a lifestyle of independence to pursue our own projects, explore who we are and keep growing. 
        .p
          h3 Who can join Mangrove?
          p Everyone who shares our values. 
        .p
          h3 Mangrove is an organic and agile structure.
          p Mangrove is an ecosystem both open to its environment and anchored with deep roots: we keep evolving but our values never change.
