extends layout

block content
  .manifesto-container
    .manifesto
      .title F.A.Q.
      p !{manifesto}

  section(style="display:none;")
  section.playbook
    .content
      .text
        h2=section.title
        p !{section.text}
        +a_blank_when_absolute(href=section.cta_link).button=section.cta
    div(style="clear:both;")
