extends layout

block content
  .container-homepage
    div
      img(src="images/All.png" class="landing-logo")
    h1 Growing Together
    .intro-p 
      | Mangrove is a community of creators who share the same values and gather around retreats.
    .intro-button
      button
        a(href="retreats") Join a retreat

    ul
      li
        .list-wrapper
          div
            img(src="images/home-1.png")
          .list-container
            h2 We share the same values
            p Benevolence, openness, and freedom. These values are the roots of our community. They feed our culture, our projects, and our structure.
            .button-container
              button
                a(href="lifestyle") Lifestyle
      li
        .list-wrapper
          div
            img(src="images/home-2.png")
          .list-container
            h2 We meet during retreats
            p Mangrove members gather for a week or two around the world to get inspired and work together.
            .button-container
              button
                a(href="retreats") Upcoming retreats
      li
        .list-wrapper
          div
            img(src="images/home-3.png")
          .list-container
            h2 We help each other
            p Mangrove members improve their lives through gatherings, tools, and personal projects.
            .button-container
              button
                a(href="mutual-help") Work differently
      li
        .list-wrapper
          div
            img(src="images/home-4.png")
          .list-container
            h2 We keep expanding
            p Mangrove is a group of people with common values and complementary skillset. We’re always on the lookout for new people who share our values.             
