extends layout

block content
  each section,key in sections
    section(style="background-image:url(images/#{key}.png)")
      .content
        .text
          h2=section.title
          p=section.text
          a.button(href=section.cta.link)=section.cta.text
      div(style="clear:both;")
  .newsletter
    form
      h3 Stay tuned to the tropics
      input(type="text" placeholder="your email address")
      input(type="submit" value="get our latest news")
