extends layout

block content
  .lifestyle#head
    each section,key in sections
      section
        .content
          if section.title=='video'
            .video
                p VIDEO
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3OVhSbP7KZI" frameborder="0" allowfullscreen></iframe>
          else
            .text
                h2=section.title
                p=section.text
            .image
              img(src="images/lifestyle_#{key}.png")
              .detail=section.detail
        div(style="clear:both;")
