.newsletter
  form#mc-embedded-subscribe-form.clear.sign-up(action="//meetmangrove.us12.list-manage.com/subscribe/post?u=102638a04246423d07cc940f6&amp;id=fe4537fefc", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="novalidate")
    h3 Stay tuned to the tropics
    .clear#mce-responses
      .response#mce-error-response(style="display:none")
      .response#mce-success-response(style="display:none")
    input#mce-EMAIL.email.sign-up__email(type='email', value='', name='EMAIL', placeholder='your email address', required='required')
    div(style='position: absolute; left: -5000px;')
      input(type='text', name='{{YOUR_MC_GENERATED_NAME}}', value='')
    input#mc-embedded-subscribe.button.sign-up__submit(type='submit', value='Get our latest news', name='Sign Up')
  script(src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
  script.
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true)
