extends layout

block content
  .retreats
    h1 Growing through retreats
    h2 We gather for a week or two around the world creating rewarding interactions.

    ul
      each retreat in retreats
        li
          .list-wrapper
            div
              img(src=retreat.image)
            .list-container
              h2
                = retreat.title
                if !retreat.previous
                  span Coming soon!
              p
                = retreat.description
              .details
                .details-item
                  .details-item-label Organizers
                  .details-item-users
                    each organizer in retreat.organizers
                      a(href='https://twitter.com/' + organizer.twitter, target='_blank')
                        div.day-item-user-avatar(style=`background: url('${organizer.image}')`)
                .details-item
                  .details-item-label Participants
                  .details-item-users
                    each participant in retreat.participants
                      a(href='https://twitter.com/' + participant.twitter, target='_blank')
                        div.day-item-user-avatar(style=`background: url('${participant.image}')`)
              if !retreat.previous
                .button-container
                  a(href=retreat.slug, target='_blank')
                    button Join this retreat
