extends layout

block content

  .team.members#head
    h2 Private Team page
    p.explanation Only accessible if you are logged in
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrdV73su7MGjffEN?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
