extends layout_v2

block content
  .container
    .pre-headline
        h1
          = "What's up Mangrove?"
        .pre-headline-tagline
          = "Mangrovers feel happy today ⭐️ "
          strong
            = moods.moods
        .pre-headline-tagline          
          = "We helped each other "
          strong 22 times
          = " this week 🤗"
        .pre-headline-tagline          
          = "The next retreat is in "
          strong 30 days 
          = " 🌴"
        .pre-headline-tagline          
          strong 4 amazing people
          = " joined Mangrove this month 🐺"
    .headline
      h1
        = "A global team"
      .headline-tagline
        = members.length + " mangrovers"

    .members
      each member in members
        .member-item-container
          .member-item
            .member-item-avatar
              .member-item-avatar-image(style="background-image:url("+ member.image + ")")
                span.member-item-city
                  i(class="mdi mdi-map-marker")
                  = member.location
            .member-item-infos
              .member-item-name
                = member.name
              //- .member-item-date
              //-   = member.dateOfArrival
              .member-item-tracks
                = member.tracks[0]
              .member-item-beta
                = member.bio
    //- .footer-cta
    //-   div
      //-   h2
      //-     = "We keep expanding"
      //-   .tagline
      //-     = "Bushwick meh Blue Bottle."
      //- a.button.big(href="https://mangrove.typeform.com/to/uxvnIV" target="blank")
      //-   = 'Join us'



  //- .mangrove-map
  //-   #map-container

  //- script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL_vRgjm7TU4HjzwIPWe4XDTwH0DcEKHY")
  script(src="scripts/team.js")
  //- script(src="scripts/livemap.js")
  //- script.
  //-   $(function() {
  //-     // Map section
  //-     var optionsMap = {
  //-       elements: !{JSON.stringify(coords)},
  //-       mapDiv: 'map-container'
  //-     };

  //-     var mapSection = new window.MapSection(optionsMap);
  //-     mapSection.init();
  //-   });
