.team
  h2 Mangrove Co-founders
  p.explanation Every Mangrove member is a co-founder. It means that we are all entitled to start new ventures inside our ecosystem.
  ul
    li
      a(href="twitter.com/", target="_blank")
        img(src="")
        Prénom Nom
.team
  h2 Mangrove Friends
  p.explanation They believe in our vision. We believe in what they do.
  ul
    li
      a(href="twitter.com/", target="_blank")
        img(src="")
        Prénom Nom
