extends layout

block content

  .team.members#head
    h2 Mangrove Co-founders
    p.explanation Every Mangrove member is a co-founder. It means that we are all entitled to start new ventures inside our ecosystem.
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrpCWroz2Knf6NAH?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
