extends layout

block content
  .manifesto-container
    .manifesto
      .title Manifesto
      p !{manifesto}
      .signature Mangrove's cofounders, January 2016

  section(style="display:none;")
  section.playbook
    .content
      .text
        h2=section.title
        p !{section.text}
        a.button(href=section.cta_link)=section.cta
    div(style="clear:both;")
