* {
  box-sizing: border-box;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.header {
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #FF512F, #DD2476);
  background: linear-gradient(to left, #FF512F, #DD2476);
  text-align: center;
  position: relative;
  height: auto;
  top: 0;
  display: flex;
  flex-flow: column;
}

h1 {
  bottom: 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

@-webkit-keyframes move-arrow {
  50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -0-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -0-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.catchphrase {
  margin: auto;
}

.bottom-arrow {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -36px;
  -webkit-animation: move-arrow 1s infinite;
  -moz-animation:    move-arrow 1s infinite;
  -o-animation:      move-arrow 1s infinite;
  animation:         move-arrow 1s infinite;
}

.bottom-arrow svg {
  padding: 24px;
  cursor: pointer;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Head
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.head {
  background-color: #2C3E50;
  text-align: center;
  color: #fff;
  padding: 3em 1em;
  line-height: 1.4em;
  font-size: 1em;
}

.head a {
  color: #fff;
}

.legend {
  margin-top: 12px;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* .footer {
  padding: 5em 0;
  text-align: center;
  background-color: #2C3E50;
} */

.footer-legend {
  margin-bottom: 4px;
  color: #627284;
}

  .footer-link a {
    color: #fff;
    text-decoration: none;
  }

  .footer-logos {
    margin-top: 35px;
    color: #fff;
  }

  .footer-logos a {
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-logos i {
    font-size: 40px;
  }

  .footer-logos .snapchat img {
    width: 35px;
    position: relative;
    top: 1px;
  }



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.header {
  /* Chrome 10-25, Safari 5.1-6 */
  text-align: left;
  top: 0;
  height: 100vh;
  min-height: 300px;
  padding: 0;
}

.header.small {
  background: #F73B59;
  height: 70vh;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
  position: inherit;
  width: auto;
  text-align: center;
  letter-spacing: -2px;
}

.header.small .catchphrase {
  position: absolute;
  top: 50%;
  width: 100%;
}

.header.small h1 {
  font-size: 45px;
  line-height: inherit;
  top: 0;
  width: 100%;
  position: relative;
}

.bottom-arrow {
  display: block;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Head
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.head {
  padding: 3em 0;
  font-size: 1.08em;
}

.head .description {
  max-width: 610px;
  margin: auto;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.footer-legend {
  font-size: 21px;
}

.footer-link {
  font-size: 28px;
}

.footer-logos {
  margin-top: 35px;
  color: #fff;
}

.footer-logos a {
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-logos i {
  font-size: 40px;
}

.footer-logos .snapchat img {
  width: 35px;
  position: relative;
  top: 1px;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Hellobar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.hellobar {
  height: 50px;
  width: 100%;
  background-color: #2C3E50;
  color: #fff;
  text-align: center;
  line-height: 50px;
  padding: 5px;
  bottom: 0;
  z-index: 10;
  position: fixed;
}
.hellobar-button {
  color: #fff;
  background: #ee3b52;
  padding: 10px;
  border-radius: 5px;
  margin: 1em;
  text-decoration: none;
}
.hellobar-button:hover {
  background: #bf1027;
}
.hellobar-clear {
  background: #ee3b52;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  line-height: 8px;
  padding: 5px;
  border: none;
  text-align: center;
  font-size: 10px;
  transition: all 0.4s ease-in-out;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 18px;
  display: inline-block;
  cursor: pointer;
}
.hellobar-clear:focus {
  outline: none;
}
