section {
  width: 100%;
  position: relative;
  padding: 42px 20px;
  box-sizing: border-box;
}

section:nth-child(odd) {
  background-color: #f6f8fa;
}

section .content {
  width: 100%;
}

h2 {
  color: #ed3956;
  font-size: 45px;
  font-weight: 500;
  margin: 0;
}

section .content a {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 3px;
  border: 2px solid #5b5b5b;
  text-decoration: none;
  color: #5b5b5b;
}

section .content a:hover {
  background-color: #5b5b5b;
  color: #fff;
}

section .content p {
  color: #5b5b5b;
  line-height: 1.25em;
}


/* Obligatory hack to override inline background for mobile. */
@media only screen and (max-width: 45em) {
  section {
    background-image: none !important;
  }
}


@media only screen and (min-width: 45em) {

  /*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Sections - Homepage
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */

  section {
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-size: 100% auto;
    background-position: center center;
    height: 100vh;
  }

  section .content {
    width: 100%;
  }

    section .content .text {
      max-width: 500px;
    }

  section:nth-child(odd) .content .text {
    float: left;
  }

  section:nth-child(even) .content .text {
    float: right;
  }
}
