body {
  font: 16px "Proxima Nova", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02em;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.header {
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #FF512F, #DD2476);
  background: linear-gradient(to left, #FF512F, #DD2476);
  /* Chrome 10-25, Safari 5.1-6 */
  position: relative;
  height: 80vh;
  top: 0;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
  line-height: 80vh;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Menu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 150px;
}

.menu {
}

  .menu .logo {
    float: left;
    margin-left: 100px;
  }

    .menu .logo img {
      vertical-align: middle;
      width: 200px;
    }

  .menu ul {
    padding: 0; margin: 0;
    list-style: none;
    position: absolute;
    right: 50px;
  }

  .menu li {
    float: left;
    margin-right: 50px;
    text-decoration: none;
    font-size: 18px;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
  }

    .menu a:hover {
      text-decoration: underline;
    }

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Head
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.head {
  background-color: #2C3E50;
  text-align: center;
  color: #fff;
  padding: 3em 0;
}

.head .description {
  max-width: 600px;
  line-height: 1.2em;
  margin: auto;
}

.legend {
  margin-top: 12px;
}

.head a {
  color: #fff;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Sections - Homepage
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

section {
  display:flex;
  align-items:center;
  background-size: 100% auto;
  background-position: center center;
  width: 100%;
  height: 80vh;
  padding: 0 100px;
  box-sizing: border-box;
  position: relative;
}

section .content {
  width: 100%;
}

  section .content .text {
    max-width: 500px;
  }

section:nth-child(odd) .content .text {
  float: left;
}

section:nth-child(even) .content .text {
  float: right;
}

h2 {
  color: #ed3956;
  font-size: 45px;
  font-weight: 500;
}

section .content p {
  color: #5b5b5b;
  line-height: 1.25em;
}

section .content a {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 3px;
  border: 2px solid #5b5b5b;
  text-decoration: none;
  color: #5b5b5b;
}

section .content a:hover {
  background-color: #5b5b5b;
  color: #fff;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Sections - Lifestyle
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.lifestyle section {
}

.lifestyle section:nth-child(odd) {
  background-color: #f6f8fa;
}

.image {
  position: absolute;
  bottom: 0;
}

.lifestyle section:nth-child(odd) .image {
  right: 100px;
}

.lifestyle section:nth-child(even) .image {
  left: 100px;
}

.lifestyle .image img {
  display: block;
}

.lifestyle .image.iphone img {
  max-height: 80vh;
  max-width: 400px;
}

.detail {
  display: none;
}

.manifesto-container {
  background-color: #f6f8fa;
  width: 100%;
  padding: 50px 0;
}
  .manifesto {
    padding: 100px;
    background-color: #fff;
    max-width: 600px;
    margin: auto;

    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.2em;
  }

  .manifesto .title {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
  }

  .manifesto p {
    margin: 64px 0;
  }

  .manifesto .signature {
    text-align: right;
  }

  section.playbook {
    background-size: auto;
    background-position: right 100px center;
    background-repeat: no-repeat;
  }


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Newsletter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.newsletter {
  background-color: #ed3954;
  text-align: center;
  padding-top: 20vh;
}

  .newsletter h3 {
    margin: 0;
    margin-bottom: 24px;
    color: #2b3e51;
    font-size: 28px;
    font-weight: 500;
  }

  .newsletter form {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .newsletter input {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: auto;
    font-family: "Proxima Nova";
    box-sizing: border-box;
    outline: 0;
  }

  .newsletter input[type="text"] {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #f6f8fa;
    border: none;
  }

  .newsletter input[type="submit"] {
    margin-top: 14px;
    background-color: #2b3e51;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.footer {
  padding: 5em 0;
  text-align: center;
  background-color: #2C3E50;
}

.footer-legend {
  font-size: 24px;
  margin-bottom: 4px;
  color: #627284;
}

.footer-link {
  font-size: 32px;
}

  .footer-link a {
    color: #fff;
    text-decoration: none;
  }

.footer-logos {
  margin-top: 35px;
  color: #fff;
}

.footer-logos a {
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-logos i {
  font-size: 40px;
}

.footer-logos .snapchat img {
  width: 35px;
  position: relative;
  top: 1px;
}
