.members {
  box-sizing: border-box;
}

.team {
  margin: 40px 20px;
}

.team p {
  color: #5b5b5b;
}

.team ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  text-align: center;
}

.team .member-profile {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  background-color: #EEE;
}

.team a {
  color: #2a2a2a;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
}

.team li, .team li a {
  display: inline-block;
}

.team .member-info{
  display: inline-block;
  text-align: left;
  float: left;
  margin-left: 26px;
  margin-top: -5px;
}

.team .member-info .member-date{
  display: inline-block;
  font-size: 0.8em;
  color: #c5c5c5;
}

.team .member-info .member-place{
  display: inline-block;
  font-size: 0.8em;
  padding-left: 0.3em;
  color: #c5c5c5;
}

.team .member-name {
  margin-top: 18px;
  text-overflow: ellipsis;
}

.team .member-name-core{
  margin-top: 18px;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: -6px;
}

.team .member-ico {
  display: inline-block;
  font-size: 0.6em;
  padding-left: 0.3em;
}

.team .member-contribution {
  display: inline-block;
	font-weight: lighter;
  font-size: 0.8em;
  padding-left: 0.3em;
}

.team .member-contribution .member-points {
  display: inline-block;
  font-size: 0.7em;
  padding-left: 0.2em;
  font-weight: 600;
}

.team .member-imageholder{
  display: inline-block;
  float: left;
  margin-left: 2%;
}

.team .member-imageholder .member-image img{
  height: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 100%;
}

.team li {
  width: 40%;
  margin: 5%;
}

.team li a {
  width: 100%;
}

.team .member-card {
	background-color: whitesmoke;
	border-radius: 5px;
	width: 40%;
	display: inline-block;
}

.team .member-card .member-profile {
	float: left;
}

.team .member-track{
  display: inline-block;
  border: 1px;
  border-style: solid;
  padding: 2px 7px;
  border-radius: 2px;
  font-size: 0.8em;
  margin-top: 8px;
  margin-right: 6px;
}

.team .track-1{
  display: inline-block;
  color:#2BBFF9;
  border-color: #2BBFF9;
}

.team .track-2{
  display: inline-block;
  color:#EE9435;
  border-color: #EE9435;
}

.team .track-3{
  display: inline-block;
  color:#53DB74;
  border-color: #53DB74;
}

.team .track-4{
  display: inline-block;
  color:#FF6F95;
  border-color: #FF6F95;

}

.team .clear-member{
  clear: left;
  padding-top: 5px;
}

@media only screen and (min-width: 35em) {

  /*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Team
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */

  .members {
    padding-top: 120px;
  }

  .team {
    text-align: center;
    margin-bottom: 84px;
  }

  .team h2 {
    margin-bottom: 12px;
  }

  .team p {
    margin-bottom: 32px;
  }

  .team ul {
    max-width: 1200px;
  }

  .team li {
    margin: 25px;
    text-align: center;
    display: inline-block;
    width: auto;
    vertical-align: text-top;
    display:table-cell
  }

  .team li a {
    width: auto;
    font-weight: bold;
    font-size: 1em;
  }

  .team li, .team li a {
    display: inline-block;
  }

  .team .member-profile {
    width: 160px;
    height: 160px;
    padding-bottom: 0;
  }

  .team a {
    color: #2a2a2a;
    text-decoration: none;
    font-weight: bold;
  }

  .team .member-name {
    margin-top: 18px;
  }

	.team .member-card {
		padding: 10px;
		margin: 10px;
	}
}
